name: ci-build

on:
  push:
    branches: main
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches: main
    paths-ignore:
      - 'docs/**'

jobs:
  build:
    runs-on: windows-2022
    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.4
    
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2
      
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v5.0.1
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x
    
    - name: Build
      run: |
        msbuild /restore `
                /t:Build,Pack src/WinUI.TableView.csproj `
                /p:Configuration=Release `
                /p:Version=0.0.${{ github.run_number }}-dev

    - name: Setup VSTest
      uses: darenm/Setup-VSTest@v1

    - name: Build Tests
      run: |
        msbuild /restore `
                /t:Build tests/WinUI.TableView.Tests.csproj `
                /p:Platform=x64 `
                /p:Configuration=Release `
                /p:OutputPath=build
                
    - name: Run Tests
      run: |
        vstest.console.exe tests\build\WinUI.TableView.Tests.build.appxrecipe --logger:"console;verbosity=normal" /InIsolation
 
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: NuGet Packages
        path: artifacts/NuGet/Release

    - name: Push to NuGet
      run: |
        dotnet nuget push artifacts\NuGet\Release\*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
